html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(45, 45, 45, 1);
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    color: white;
}